.container-fluid {
    border:1px solid black;
    text-align:center;
}

.jumbotron {
    border: 1px solid black;
    margin:20px;

}

.card {
    height: 300px;
    width: 300px;
    margin:20px;
}

.navbar-brand {
    font-size: 40px;
}

.dropdown {
    margin-left:20px;
}